@model LoginLogout.Models.User

@{
    ViewBag.Title = "LogIn";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <div id="loginForm">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true, "Inloggning misslyckades, var vänlig försök igen.");
            <div>
                <fieldset id="formBorder">
                    <div id="toDoText">Inloggningsformulär</div>
                    <div>@Html.LabelFor(u => u.Email)</div>
                    <div>@Html.TextBoxFor(u => u.Email) <br /> @Html.ValidationMessageFor(u => u.Email)</div>

                    <div>@Html.LabelFor(u => u.Password)</div>
                    <div>@Html.PasswordFor(u => u.Password) <br/> @Html.ValidationMessageFor(u => u.Password)</div>
                    <br />
                    <input type="submit" value="Logga in" />
                </fieldset>
            </div>
        }
    </div>
</body>