@model LoginLogout.Models.User

@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
<body>
    <div id ="regForm">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "Skapandet av användare misslyckades.");
            <div>
                <fieldset id="formBorder">
                    <legend>Registrering</legend>
                    <div>@Html.LabelFor(u => u.Email)</div>
                    <div>@Html.TextBoxFor(u => u.Email) <br /> @Html.ValidationMessageFor(u => u.Email)</div>

                    <div>@Html.LabelFor(u => u.Password)</div>
                    <div>@Html.PasswordFor(u => u.Password) <br /> @Html.ValidationMessageFor(u => u.Password)</div>
                    <br />
                    <input type="submit" value="Skapa användare" />
                </fieldset>
            </div>
        }
       @section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    }
    </div>
</body>