@model LoginLogout.Models.User

@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<body>
    <div id ="regForm">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true, "Skapandet av användare misslyckades.");
            <div>
                <fieldset>
                    <legend>Registreringsformulär</legend>
                    <div>@Html.LabelFor(u => u.Email)</div>
                    <div>@Html.TextBoxFor(u => u.Email) @Html.ValidationMessageFor(u => u.Email)</div>

                    <div>@Html.LabelFor(u => u.Password)</div>
                    <div>@Html.PasswordFor(u => u.Password) @Html.ValidationMessageFor(u => u.Password)</div>

                    <input type="submit" value="Skapa användare" />
                </fieldset>
            </div>
        }
    </div>
</body>