<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div id="links">
        @if (Request.IsAuthenticated)
        {
            <div>Du är inloggad som</div>
            <strong>@Html.Encode(User.Identity.Name)</strong>
            @Html.ActionLink("Logga ut", "Logout", "User")
        }
        else
        {
             @Html.ActionLink("Registrering", "Registration", "User")
            <span>|</span>
            @Html.ActionLink("Logga in", "LogIn", "User")
        }
    </div>

    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
</body>
</html>
